.casestudies h2
{
    margin-top: 50px !important;
}
.casestudies a
{
    margin: 50px !important;
    padding: 25px;
    border-radius: 25px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}