.main-footer {
    color: white;
    background-color: rgb(0,156,255);
    background-image: url('./assets/Path 37456.svg');
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }